@model CmsShop.Models.ViewsModels.Cart.CartVM

<div class="ajaxcart" style="color: white">
    Koszyk: @Model.Quantity / @Model.Price zł.
    <br />
    @Html.ActionLink("Koszyk", "Index", "Cart")
</div>
